/**
 * RWD
 */

@media (max-width: 959px){
    .footer--wrapper{
        display:block;
        text-align:center;
    }
    
    .social-list{
        text-align:center;
        li{
            margin: 0 @baseline/2 @baseline/2;
        }
    }
    
    
    
}



@media (max-width: 1064px){
    
    .uk-slideshow{
        img{
            top:0%;
        }
    }
    
    
}


@media (max-width: 725px){
    
    .caption-copy{
        p:first-child{
            font-size:6vw;
            line-height:1.2;
        }
        p:nth-child(2){
            font-size:4vw;
            line-height:1.2;
        }
    }
    
}



@media (max-width: 640px){
    .slide .uk-overlay{
        padding:0;
    }
}






